

.App {
  background-color: rgb(0, 76, 63);
  background: linear-gradient(90deg, rgba(0, 76, 63,1) 0%, rgba(0, 76, 63,1) 71%, rgba(0, 76, 63,0.9164259453781513) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: white;

}

input[type=text], select, textarea, date {
  width: 30%;
  padding: 12px;
  border-radius: 16px;
  box-sizing: border-box;
  resize: vertical;
  font-size: 16px;
  font-weight: bold;
  border: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


ul {
  list-style-type: none;
  padding: 0px;
}

li{
  margin: 20px;
}

.results {
  width: 40%;
  margin: 0;
  min-height: 75vh;
}


.content{
  display: flex;
  bottom: 0;
  min-height: 80vh;
  width: 100vw;
  justify-content: center;
  margin-top:22vh;
  height: auto;
}

img{
  height: 150px;
  width: auto;
  margin: 5px;
}

.searchHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 20vh; 
  background-color: #102621;

  width: 100%;
  text-align: center;
  position: fixed;
  top: 0px;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  transition: background, background-color ease-out 0.5s;
}

.searchHeader.invalid{
  background-color:rgb(231, 66, 66);
}

.shortlist{
  position: fixed;
  bottom: 0;
  z-index: 1;
  border-radius: 10px 10px 0px 0px;
}

.home{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 992px){
  .results{
    width: 80%;
  }
  input[type=text], select, textarea, date {
    width: 80%;
  }
}

@media screen and (min-width: 320px) {
  .searchHeadertext {
    font-size: calc(36px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  .searchHeadertext {
    font-size: 60px;
    padding: 0px;
  }
  .shortlist{
    right: 0px;
    margin-right: 5px;
  }
}

button{
  font-weight: bold;
}

.resultstext{
  color:#52d19c;
  background: linear-gradient(90deg, rgba(16,38,33,1) 0%, rgba(16,38,33,1) 71%, rgba(16,38,33,0.9164259453781513) 100%);
  border-radius: 10px;
  font-size: 35px;
  margin-bottom: 0px;
  padding: 5px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  animation: pulse 3s ease-in-out infinite;
}
.searchHeadertext{
  color:  #52d19c;
  margin:0 0 3px 0;
}


.loader {
  border: 8px solid #52d19c;
  border-radius: 50%;
  border-top: 8px solid #173630;
  width: 200px;
  height: 200px;
  -webkit-animation: spin 3s ease-in-out infinite; 
  animation: spin 1s ease-in-out infinite;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.home1{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0px; 
  padding: 0px;
}





@keyframes pulse {
  0% {transform:scale(1);  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);}
  50%{transform:scale(1.05); box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5), 0 8px 25px 0 rgba(0, 0, 0, 0.4);}
  100%{transform:scale(1); box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);}
}