
.card-horizontal {
    display: flex;
    color: white;
    opacity:1;
    position: relative;
    transition: 0.4s;
    padding: 10px;
}

.card{
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.4), 2px 6px 20px 2px rgba(0, 0, 0, 0.3);
    margin: 30px 0;
    transition: all ease-out 0.3s;
    border-radius: 5px;
    padding: 15px;
    background-color: rgb(16, 38, 33);
    background: linear-gradient(90deg, rgba(16,38,33,1) 0%, rgba(16,38,33,1) 71%, rgba(16,38,33,0.9164259453781513) 100%);
    overflow: hidden;
}

.selected-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    opacity: 0.3;
    pointer-events:none; 
    transform:scale(0.95);
}

.card-footer{
    background-color: #50B83C;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    border-radius: 5px;
    height: 40px;
    font-size: 30px;
    padding: 0px;
}
.poster{
    height: 150px;
    width: auto;
    margin: 5px;
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.5), 2px 6px 20px 2px rgba(0, 0, 0, 0.4);  
}
.imageHolder{
  height: 150px;
  width: 100px;
  margin: 5px;
  background-color: #004c3f;
  text-align: center;
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.5), 2px 6px 20px 2px rgba(0, 0, 0, 0.4);  
}

.card-footer.inactive{
  opacity: 0.3;
  pointer-events:none; 
}

.card-footer:hover{
    background-color: #3d8c2e;
    width: 100%;
    cursor: pointer;
}

.card-title{
    display:flex;
    text-align: left;
    margin: 0px;
}

.card-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left:15px;
}

.middle {
    opacity:0;
    text-align: center;
    background-color: rgb(16, 38, 33);
    width:0px;
    height:0px;
    
  }
  
.more{
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    position: relative;
}

.more:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.more:hover:after { 
  width: 100%; 
  left: 0; 
}

.card-horizontal:hover .middle {
    position: absolute;
    top:0;
    left:0;
    display: flex;
    flex-direction:column;
    justify-content:center;
    border-radius: 5px;
    width:100%;
    height: 100%;
    opacity:0.95;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}
  

@media screen and (min-width: 320px) {
    .card-title {
      font-size: calc(18px + 6 * ((100vw - 320px) / 680));
    }
    .card-info {
      font-size: calc(12px + 6 * ((100vw - 320px) / 680));
    }
    .highlighted1{
      font-size: calc(55px + 6 * ((100vw - 320px) / 680));
    }

  }

@media screen and (min-width: 1000px) {
    .card-title {
      font-size: 24px;
    }
    .card-info {
      font-size: 16px;
    }
    .highlighted1{
      font-size: 55px;
    }
  }
  .card-info{
      text-align: left;
      margin: 5px;
  }

.extraInfo{
  height: 0px;
  opacity: 0;
  transition: opacity ease-in-out 0.5s;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.extraInfo.shown{
  opacity:1;
  height: 100%;
}

.extraInfoTitle{
  height: 0px;
  opacity: 0;
  transition: opacity,height ease 0.2s;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.extraInfoTitle.shown{
  opacity:1;
  height: 100%;
}

.highlighted{
  font-weight: bold;
}

.highlighted1{
  color:rgba(255, 255, 255, 0.241);
  margin: 0px 0px;
  padding: 0px;
  font-weight: lighter;
}

.container-fluid{
  opacity: 0;
}




@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}



/*might need later  
@keyframes fadeInDown {
  from {
      transform: translate3d(0,-20px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInDown {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInDown {
  opacity: 0
}

.fadeInDown {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}*/